src/cfg/cfg.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 2 U (http://www.xmlspy.com) by cba (cba) -->
<!--W3C Schema generated by XMLSPY v5 rel. 2 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="country">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="exchange" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string" use="required"/>
			<xs:attribute name="enable" type="xs:boolean" use="required"/>
			<xs:attribute name="timezone" type="xs:string" use="optional"/>
			<xs:attribute name="ccy" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="exchange">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="chains" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="chain" maxOccurs="unbounded">
								<xs:complexType>
									<xs:simpleContent>
										<xs:extension base="xs:string">
											<xs:attribute name="value" type="xs:string" use="optional"/>
										</xs:extension>
									</xs:simpleContent>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="supplement_rics" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ric" maxOccurs="unbounded">
								<xs:complexType>
									<xs:attribute name="value" type="xs:string" use="required"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string" use="required"/>
			<xs:attribute name="port" type="xs:int" use="required"/>
			<xs:attribute name="enable" type="xs:boolean" use="required"/>
			<xs:attribute name="vola_high" type="xs:float" use="required"/>
			<xs:attribute name="vola_low" type="xs:float" use="required"/>
			<xs:attribute name="open_time_am" type="xs:time" use="required"/>
			<xs:attribute name="close_time_am" type="xs:time" use="required"/>
			<xs:attribute name="open_time_pm" type="xs:time" use="required"/>
			<xs:attribute name="close_time_pm" type="xs:time" use="required"/>
			<xs:attribute name="instruments_file" type="xs:string" use="required"/>
			<xs:attribute name="day_file_path" type="xs:string" use="required"/>
			<xs:attribute name="tick_file_path" type="xs:string" use="required"/>
			<xs:attribute name="hist_file_path" type="xs:string" use="required"/>
			<xs:attribute name="hist_day_file_path" type="xs:string" use="required"/>
			<xs:attribute name="adj_factor_file" type="xs:string" use="required"/>
			<xs:attribute name="timezone" type="xs:string" use="optional"/>
			<xs:attribute name="ccy" type="xs:string" use="optional"/>
			<xs:attribute name="desc" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="global_market_config">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="country" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="eikon_key" type="xs:string" use="required"/>
			<xs:attribute name="holiday_file" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
